/* scrollbar colours. remove comments to apply this section */
/*
body {
scrollbar-face-color: #cccccc;
scrollbar-shadow-color: #aaaaaa;
scrollbar-highlight-color: #aaaaaa;
scrollbar-3dlight-color: #eeeeee;
scrollbar-darkshadow-color: #eeeeee;
scrollbar-track-color: #eeeeee;
scrollbar-arrow-color: #aaaaaa;
scrollbar-base-color: #00ffff;
}
*/

/* link styles */
A:link {
text-decoration: none;
color: #808283;
}
A:visited {
text-decoration: none;
color: #808283;
}
A:active {
text-decoration: none;
color: #555657;
}
A:hover {
text-decoration: none;
color: #555657;
}

/* base style for posts */
td {
font-family: Arial, sans-serif;
font-size: 8pt;
}

/* post frame body style */
.mnbdy {
background-color: #F3F7FA;
}

/* post frame overall table style */
.hbtbl {
border: #000000 0px solid;
}

/* post text styles (alternating) */
.stxt {
background-color: #F3F7FA;
color: #39320F;
}
.stxt2 {
background-color: #ECF0F3;
color: #39320F;
}

/* post date text styles (alternating) */
.dtxt {
color: #AEB1B3;
font-size: 7pt;
text-align: right;
}
.dtxt2 {
color: #AEB1B3;
font-size: 7pt;
text-align: right;
}